alias ll='ls -alF'
alias gs="git status"
alias ga="git add"
alias t="tmux"
alias gb="git branch"
alias gd="git diff"
alias gl="git log"
alias gf="git fetch"
alias gpl="git pull"
alias gps="git push"
alias gc="git commit"
alias gcm="git commit -m"
alias gco="git checkout"
alias gtg="git tag"
alias gst="git stash"
alias gsta="git stash apply"
alias gstp="git stash pop"
alias grb="git rebase"
alias grs="git restore"
alias grst="git restore --staged"
alias nv="nvim"
alias vim="nvim"
